@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

body {
  margin: 0;
  background-color: #1f1d1f;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Limelight";
}

.h-screen {
  height: 100vh;
}

.w-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.w-full {
  height: 100%;
}

.children-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
